<div class="container-fluid header">
  <div class="navbar-header col-sm-3 col-md-2 col-xs-12">
    <button class="navbar-toggle collapsed" data-target="#secondary-navigation" data-toggle="collapse" type="button">
      <span class="sr-only">
        <%= t('admin.toggle_navigation') %>
      </span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand pjax" href="<%= dashboard_path %>">
      <%= _get_plugin_name[0] || 'Rails' %>
      <small class="hidden">
        <%= _get_plugin_name[1] || 'Admin' %>
      </small>
    </a>
  </div>
  <div class="collapse navbar-collapse" id="secondary-navigation">
    <%= render partial: 'layouts/rails_admin/secondary_navigation' %>
  </div>
</div>
