<ul class="nav navbar-nav navbar-right root_links">
  <% if main_app_root_path = (main_app.root_path rescue false) %>
    <li>
      <%= link_to t('admin.home.name'), main_app_root_path %>
    </li>
  <% end %>
  <% if _current_user %>
    <% if user_link = edit_user_link %>
      <li class="edit_user_root_link">
        <%= user_link %>
      </li>
    <% end %>
    <% if logout_path.present? %>
      <li>
        <%= link_to content_tag('i', "", class: 'fa fa-sign-out icon-md',), logout_path, method: logout_method %>
      </li>
    <% end %>
  <% end %>
</ul>
