<div class="sidebar-user-info">
    <div class="pull-left image">
        <img src="/assets/rails_admin/placeholder_profile_photo.png" alt="Profile Image" />
    </div>
    <div class="pull-left info">
        <p><%= _current_user.email %><br><span class="small"><i class="fa fa-circle text-success"></i> Online</span></p>
    </div>
</div>
<ul class="nav nav-pills nav-stacked">
  <%= main_navigation %>
</ul>
<ul class="nav nav-pills nav-stacked">
  <%= static_navigation %>
</ul>
