<div class="tab-container">
  <% if @abstract_models %>
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th class="shrink model-name">
            <%= t "admin.table_headers.model_name" %>
          </th>
          <th class="shrink last-used">
            <%= t "admin.table_headers.last_used" %>
          </th>
          <th class="records">
            <%= t "admin.table_headers.records" %>
          </th>
          <th class="shrink controls"></th>
        </tr>
      </thead>
      <tbody>
        <% @abstract_models.each do |abstract_model| %>
          <% if authorized? :index, abstract_model %>
            <% index_path = index_path(model_name: abstract_model.to_param) %>
            <% row_class = "#{cycle("odd", "even")}#{" link" if index_path} #{abstract_model.param_key}_links" %>
            <tr class="<%= row_class %>" data-link="<%= index_path %>">
              <% last_used = @most_recent_changes[abstract_model.model.name] %>
              <% active = last_used.try(:today?) %>
              <td>
                <span class="show">
                  <%= link_to capitalize_first_letter(abstract_model.config.label_plural), index_path, class: 'pjax' %>
                </span>
              </td>
              <td>
                <% if last_used %>
                  <%= time_ago_in_words last_used %>
                  <%= t "admin.misc.ago" %>
                <% end %>
              </td>
              <td>
                <% count = @count[abstract_model.model.name] %>
                <% percent = count > 0 ? (@max <= 1 ? count : ((Math.log(count+1) * 100.0) / Math.log(@max+1)).to_i) : -1 %>
                <div class="progress-<%= get_indicator(percent) %> <%= active && 'active progress-striped' %> progress" style="margin-bottom:0px">
                  <div class="progress-bar-<%= get_indicator(percent) %> progress-bar animate-width-to" data-animate-length="<%= ([1.0, percent].max.to_i * 20) %>" data-animate-width-to="<%= [2.0, percent].max.to_i %>%" style="width:2%">
                    <%= @count[abstract_model.model.name] %>
                  </div>
                </div>
              </td>
              <td class="links">
                <ul class="inline list-inline">
                  <%= menu_for :collection, abstract_model, nil, true %>
                </ul>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <% if @auditing_adapter && authorized?(:history_index) %>
    <div class="block" id="block-tables">
      <div class="content">
        <h2>
          <%= t("admin.actions.history_index.menu") %>
        </h2>
        <%= render partial: 'rails_admin/main/dashboard_history' %>
      </div>
    </div>
  <% end %>
</div>
